 
{% extends "blog/base.html" %}

{% block content %}<br>
<h4><center>Faça seu Login!</center></h4>

{% if form.errors %}
 <center><p>Your username and password didn't match. Please try again.</p></center>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}<br><br>

<center><tr>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="username" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control"  placeholder="Password">
    </div>
<div class="row">

<div class="col">

    <center><button type="submit" class="btn btn-primary">Submit</button></center><br>
    </div>

  </div>  

<center><p><a href="{% url 'password_reset' %}">Forgot your password?</a></p></center>


</div>
</form>

<input type="hidden" name="next" value="{{ next }}" />

</div>
</div>

</form>






{% endblock %}