

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="card-body">
            <h4>{{ post.title }}</h4>
            <p>{{ post.description}}</p>
            <b>Author:</b>{{ post.author}}
            <p>Categoria: {{post.category.name}}</p><br><br>
       </div>
        <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Confira o post</a>
    </div>
</div>