{% extends "blog/base.html" %}


{% block content %}
    <h4> {{ object.title}}</h4>
    <p>
        {{ object.author}}<br>
        <p>Categoria: {{ object.category}}</p>
        {{ object.created_at}}<br>
    </p>
    <p> {{ object.description}} </p>
    <p> {{ object.text|safe}} </p>
    <center><img src = "{{  object.banner.url  }}" class = "img-fluid"></center><br>
    <p>{{ object.text|safe }}</p>
    <h3>Comentários:</h3>
    {% for comment in object.comments.all %}
        
        
    {% endfor %}


    {% for comment in post.comments.all %}



        <div class="card">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>
                      <b>{{ comment.author }}</b><br>
                      {{ comment.text }}
                    </p>
                    <footer class="blockquote-footer">{{ comment.created_at }}<cite title="Source Title"></cite></footer>
                  </blockquote>
                </div>
              </div>
        <br>

        {% endfor %}


	<form method="POST" action="{% url 'comment' object.id %}">
    {% csrf_token %}

		<textarea name="text">

    </textarea>
    <input type = "submit" value= "Comentar">


    {% endblock %}