
{% extends "blog/base.html" %}

{% block content %}

	<H4>Resultados da pesquisa</H4><br>

    <div class="row">
        {% for post in object_list %}
            {% include "blog/post_card.html" %}
        {% endfor %}
    </div>

{% endblock %}